<div class="p-grid">
  <div class="p-col-12 p-md-12 p-lg-12">
    <div class="input-botao">
      <app-input-texto id="secao"
                       label="Nome da seção"
                       tipo="text"
                       required="true"
                       style="width: 100%"
                       [(ngModel)]="nome" name="tituloEvento">
      </app-input-texto>
      <button type="button" pButton pRipple icon="pi pi-plus" (click)="addSection(nome)"></button>
    </div>
  </div>

  <div class="p-col-12 p-md-6 p-lg-6" *ngFor="let section of event.sections; let i = index">
    <p-card>
      <p-header>
        <div class="header">
            <app-input-texto id="nome"
                             label="Nome da seção"
                             placeholder="Nome"
                             tipo="text"
                             [(ngModel)]="section.name"
                             required="true">
            </app-input-texto>
          <i class="pi pi-times" (click)="removeSection(i)"></i>
        </div>

      </p-header>
      <app-input-texto id="descricao"
                       placeholder="Descrição da seção"
                       tipo="text"
                       [(ngModel)]="section.description"
                       required="true">
      </app-input-texto>

      <app-input-texto id="preco"
                       placeholder="Preço do ingresso para essa seção"
                       tipo="number"
                       [(ngModel)]="section.ammount"
                       required="true">
      </app-input-texto>

      <app-input-texto id="quantidade"
                       placeholder="Quantidade de ingressos para essa seção"
                       tipo="number"
                       [(ngModel)]="section.qtdTickets"
                       required="true">
      </app-input-texto>

    </p-card>
  </div>


</div>
